# Untuk local Android emulator:
API_BASE_URL=http://10.0.2.2:3000/api/v1

# Kalau test dari Chrome/web atau desktop:
# API_BASE_URL=http://localhost:3000/api/v1

# Kalau real HP (IP_LAPTOP_KAMU):
# API_BASE_URL=http://192.168.1.12:3000/api/v1
